html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: tomato;
}

header{
    background-color: tomato;
    height: 10%;
    width: 100%;
}

section {
    height: 80%;
    width: 100%;
}
.tabelle{
    width: 80%;
    height: 100%;
    margin:0 auto;
    margin-top: 5px;


}

.form-check-input{
    margin: 0 auto;
    padding: 0;
}