html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;

}

header{
    background-color: tomato;
    height: 10%;
    width: 100%;
}

section {
    height: 80%;
    width: 100%;
}
.tabelle{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 1%;
}
/*.smiley{
    width: 60px;
    height: 30px;
}
.smiley2{
    width: 30px;
    height: 30px;
}*/
#img1{
    width: 60px; 
    height: 30px;
}
#img2{
    width: 30px; 
    height: 30px;
}

#img3{
    width: 30px; 
    height: 30px;
}

#img4{
    width: 60px; 
    height: 30px;
}
@media(max-width: 674px)
{

    html {
        padding: 0;
        height: 100%;
        width: 100%;
      font-size: 78%;
    }

    body{
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 78%;

    }

    header{
        font-size: small;
        background-color: white;
        height: 14%;
        width: 100%;

    }
    .hdiv{
    padding-top: 2%;
        width:90%;
        text-align: center;
    }


    .tabelle{
        font-size: small;
        width: 100%;
      margin: 0;
    }


    #img1{
        width: 30px;
        height: 15px;
    }
    #img2{
        width: 15px;
        height: 15px;
    }

    #img3{
        width:15px;
        height: 15px;
    }

    #img4{
        width: 30px;
        height: 15px;
    }
    #h31{
        font-size: small;
    }
    #h32{
        font-size: small;
    }
    #h33{
        font-size: small;
    }
    .comments{
      width: 90%;
        margin: 0 auto;
    }


}
@media(max-width: 375px){
    html {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 70%;
    }

    body{
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 70%;

    }

    header{

        background-color: white;
        height: 14%;
        width: 100%;

    }
    .hdiv{
        padding-top: 2%;
        width:90%;
        text-align: center;
    }


    .tabelle{
        font-size: x-small;
        width: 100%;
        height: 100%;
        margin: 0;
    }


    #img1{
        width: 30px;
        height: 15px;
    }
    #img2{
        width: 15px;
        height: 15px;
    }

    #img3{
        width:15px;
        height: 15px;
    }

    #img4{
        width: 30px;
        height: 15px;
    }
    #h31{
        font-size: x-small;
    }
    #h32{
        font-size: x-small;
    }
    #h33{
        font-size: x-small;
    }
    .comments{
        width: 90%;
        margin: 0 auto;

    }
    #Positivbar{
        padding-bottom: 3%;
    }

}
@media(max-width: 320px) {
    html {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 35%;
    }

    body{
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 35%;


    }

    header{

        background-color: white;
        height: 14%;
        width: 100%;

    }
    .hdiv{
        padding-top: 2%;
        width:90%;
        text-align: center;
    }


    .tabelle{
        font-size: xx-small;
        width: 100%;
        height: 100%;
        margin: 0;
    }
td{
    padding:0;
    margin: 0;
}

    #img1{
        width: 16px;
        height: 8.5px;

    }
    #img2{
        width: 8.5px;
        height: 8.5px;
    }

    #img3{
        width:8.5px;
        height: 8.5px;
    }

    #img4{
        width: 16px;
        height: 8.5px;
    }
    #h31{
        font-size: xx-small;
    }
    #h32{
        font-size: xx-small;
    }
    #h33{
        font-size: xx-small;
    }
    .comments{
        width: 90%;
        margin: 0 auto;
    }
}


/*



#Positivbar{
    position: relative;
    right: 3.5%;

        }
    

.form-check-input{
    margin: 0 auto;
    padding: 0;
}
#p1{

    padding-top: 1%;
}
#Positiv{
position: relative;
    right: 3.5%;
}
@media(max-width: 420px)
{
  
    header{
        height: 14%;
        width: 100%;
    }
    .tabelle{
        width: 100%;
    }
    #Negativ{
        position: absolute;
        bottom: 10%;
        right: 13.5%
        
    }
    #Negativbar{
        position: absolute;
        left: 70%;
        top: 90%;
        width: 30%;

}
#Positiv{
    padding-left: 1%;
}
#Positivbar{
    position: absolute;
    left: 5%;
    width: 30%;
}

    .form-check-input {
        width: 60%;
        margin: auto;
    }

    td{
        font-size: 2.6vw;
    }
    th{
        font-size: 3vw;
    }
    #p1{
      padding-top: 15%;
      padding-left: 5%;
    }
    #FormBtn{
    
        margin-left: 5%;
    }
    #img1{
    width: 40px; 
    height: 20px;
}
#img2{
    width: 20px; 
    height: 20px;
}

#img3{
    width: 20px; 
    height: 20px;
}

#img4{
    width: 40px; 
    height: 20px;
}



}*/