html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: tomato;
}

header{
    background-color: tomato;
    height: 10%;
    width: 100%;
}

section {
    height: 80%;
    width: 100%;
}
#img1{
    width: 60px; 
    height: 30px;
}
#img2{
    width: 30px; 
    height: 30px;
}

#img3{
    width: 30px; 
    height: 30px;
}

#img4{
    width: 60px; 
    height: 30px;
}



.tabelle{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 5px;


}
#Positivbar{

}
.form-check-input{
    margin: 0 auto;
    padding: 0;
}
@media(max-width: 420px)
{
  
    header{
        height: 14%;
        width: 100%;
    }
    .tabelle{
        width: 100%;
    }
    #Negativ{
        position: absolute;
        bottom: 10%;
        right: 13.5%
        
    }
    #Negativbar{
        position: absolute;
        left: 70%;
        top: 90%;
        width: 30%;

}
#Positiv{
    padding-left: 1%;
}
#Positivbar{
    position: absolute;
    left: 5%;
    width: 30%;
}

    .form-check-input {
        width: 60%;
        margin: auto;
    }

    td{
        font-size: 2.6vw;
    }
    th{
        font-size: 3vw;
    }
    #p1{
      padding-top: 15%;
      padding-left: 5%;
    }
    #FormBtn{
    
        margin-left: 5%;
    }
    #img1{
    width: 40px; 
    height: 20px;
}
#img2{
    width: 20px; 
    height: 20px;
}

#img3{
    width: 20px; 
    height: 20px;
}

#img4{
    width: 40px; 
    height: 20px;
}



}