html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;

}

header{
    background-color: grey;
    height: 10%;
    width: 100%;


}


section {
    height: 80%;
    width: 100%;


}

.Homeseite{
    width: 80%;
    margin: 0 Auto;
    margin-top: 5%;
}
.Nbuttons{
    margin: 0 auto;
    margin-top: 5%;


}
footer{
    width: 100%;
    height: 10%;

}
.newclassy{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;

}
.hokus{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.tabelle{
    margin: 0 auto;
    width: 80%;

}
.absendeformular{
    width:80%;
    height:90%;

    Margin: 0 auto;
    padding-top:10%;
}
.coolisach {
    width:100%;
    padding-bottom: 5%;
}

.Schrift{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}
.KlasseErfassen{
    width:80%;
    height: 80%;

    margin:0 auto;
    padding-top: 5%;
}
.lehrerestellen{
    width: 80%;
    height: 80%;
    margin:0 auto;
    padding-top: 5%;

}
.Umpalumpa{
    width:80%;
    height: 80%;

    margin:0 auto;
    padding-top: 5%;
}

.buttongroup1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}